// Button component.
// I think the name is obvious enough as to what it is.

button:not(.removeDefault), .asButton {
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    text-decoration: none !important;

    svg {
        width: 20px;
    }

    font-weight: 500;
    margin: 0;
    transition: 175ms ease-out;

    // Default size
    & {
        height: 36px;
        padding: 0 1rem;
        font-size: 0.9rem;
        line-height: 0.9rem;
        border-radius: 4px;

        &.iconOnly {
            padding: 0;
            width: 36px;
        }
    }

    // For custom button implementations
    &.custom {
        background-color: transparent;
        color: #fff;
        border-radius: 0;
    }

    // To show "hey, click on me!"
    &.cta {
        @include stateModifier(#000, 0.125);
        background-color: $cta;
        color: #fff;
    }

    // Alternate style of outlined, outlined is preferable
    &.ghost {
        @include stateModifier(#fff, 0.025);
        background-color: $bg-secondary;
        color: $text-button;
    }

    // Tertiary style to show something is an action but isn't the main focus of the page
    &.outlined {
        @include stateModifier(#fff, 0.025);
        background-color: transparent;
        border: solid 1px $border;
        color: $text-button;
    }

    // Large button
    &.large {
        height: 42px;
        padding: 0 1.25rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1rem;
        border-radius: 6px;
    }

    // Extra-large button, typically to display on hero areas such as the front page.
    &.hero {
        font-size: 1.075rem;
        font-weight: 400;
        border-radius: 6px;
        height: 56px;
        line-height: 56px;
        padding: 0 2.5rem;
    }
}
