.dashboard {
	height: calc(100vh - 64px);
	display: flex;

	> div {
		flex: 1 0 auto;
		padding: 3rem 0;

		.content {
			// max-width: calc(1280px - 72px / 3);
			// max-width: calc(calc(1280px - 72px))
			position: relative;
			left: -36px;
		}
	}
}

.navRail {
	width: 72px;

	// background-color: $background-secondary;
	border-right: solid 1px $background-secondary;

	display: flex;
	flex-direction: column;

	.navItem {
		// height: 72px;
		padding: 6px 12px;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 6px;

		position: relative;
		z-index: 3;
		cursor: pointer;

		&:hover {
			&::after {
				background-color: $background-secondary;
			}

			.navIcon {
				border-color: transparent;

				.material-icons {
					color: #ffffff;
				}
			}
		}

		&:active {
			&::after {
				background-color: $background-tertiary;
			}
		}

		$offset: 8px;
		&::after {
			content: "";

			position: absolute;

			top: $offset;
			left: $offset;
			right: calc(-1px + #{$offset});
			bottom: calc(23px + #{$offset});

			background-color: transparent;
			border-radius: 999px;

			transition: 130ms ease-out;
			transition-property: background-color;
		}

		&:first-of-type {
			padding-top: 12px;
		}

		&:last-of-type {
			padding-bottom: 12px;

			&::after {
				transform: translateY(-6px);
			}
		}

		&:first-of-type,
		&:last-of-type {
			&::after {
				bottom: calc(17px + #{$offset});
			}
		}

		.text {
			font-size: 14px;
			opacity: 0.54;
		}

		.railAvatar {
			max-width: 48px;
			border-radius: 999px;

			z-index: 3;
		}

		.navIcon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border: solid 1px $background-secondary;
			border-radius: 999px;
			font-size: 24px;

			z-index: 3;

			transition: 130ms ease-out;
			transition-property: border-color;

			.material-icons {
				font-size: inherit;
				color: #9a9a9a;

				z-index: 3;

				transition: 130ms ease-out;
				transition-property: color;
			}
		}
	}

	+ div .content {
		///padding: 0;

		&.tabBar {
			position: relative;
			top: -3rem;
			height: 3rem;
		}
	}

	+ div .tabBorder {
		position: relative;
		top: -3rem;
		width: 100%;
		height: 1px;
		background-color: $background-secondary;
	}

	.railDivider {
		align-self: center;
		width: 48px;
		height: 1px;
		background-color: $background-secondary;
	}
}

.guildCard {
	border-radius: 4px;
	background-color: $background-secondary;
	overflow: hidden;
	width: 256px;

	position: relative;

	transition: 130ms ease-out;
	transition-property: background-color;

	cursor: pointer;

	.banner {
		width: 100%;
		height: 75px;
		object-fit: cover;
	}

	.guildAvatar {
		border-radius: 16px;
		height: 56px;
		position: absolute;
		top: 47px;
		border: solid 4px $background-secondary;

		transition: 130ms ease-out;
		transition-property: border-color;
	}

	.cardContent {
		padding: 2.35rem 1rem 1rem;
	}

	&:hover {
		background-color: $background-tertiary;

		.guildAvatar {
			border-color: $background-tertiary;
		}
	}

	&:active {
		background-color: $background-quaternary;

		.guildAvatar {
			border-color: $background-quaternary;
		}
	}
}

.commandCard {
	border-radius: 4px;
	background-color: $background-secondary;
	overflow: hidden;
	width: 256px;

	position: relative;

	transition: 130ms ease-out;
	transition-property: background-color;

	cursor: pointer;

	padding: 1rem;
	
	h4 {
		font-weight: 500;
	}
	
	p {
		color: col(#ffffff, 0.56);
		font-size: 14px;
		
		margin-bottom: 0;
		
		height: 36px;
		overflow: hidden;
	}

	&:hover {
		background-color: $background-tertiary;

		.guildAvatar {
			border-color: $background-tertiary;
		}
	}

	&:active {
		background-color: $background-quaternary;

		.guildAvatar {
			border-color: $background-quaternary;
		}
	}
}

.content.tabBar {
	display: flex;
	align-items: center;

	.currentGuild {
		display: flex;
		align-items: center;
		gap: 6px;

		.guildAvatar {
			max-width: 28px;
			border-radius: 999px;
		}

		span {
			font-size: 14px;
			font-weight: 500;
			margin-right: 12px;
		}
	}

	.tab {
		height: 100%;
		position: relative;

		display: flex;
		align-items: center;

		padding: 0 12px;
		color: col(#ffffff, 0.56);

		font-weight: 400;
		font-size: 14px;

		cursor: pointer;

		overflow: hidden;

		&.selected {
			font-weight: 500;
			color: #ffffff !important;

			&::after {
				content: "";

				border-radius: 999px;

				position: absolute;
				bottom: -3px;
				left: 12px;

				width: calc(100% - 24px);
				height: 6px;

				background-color: #ffffff;
			}
		}

		transition: 130ms ease-out;
		transition-property: color;

		&:hover {
			color: col(#ffffff, 0.84);
		}

		&:active {
			color: #ffffff;
		}
	}
}
