// Display
// Contains hero components & mocks for the homepage or other "display" pages

.featureList {
    gap: 1rem;
    flex-wrap: wrap;

    div {
        flex-basis: 45%;

        display: flex;
        gap: 0.5rem;
        align-items: center;
        > div {
            $size: 2.25rem;
            max-width: $size;
            max-height: $size;
            min-width: $size;
            min-height: $size;

            border-radius: 6px;
            background-color: $cta;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.25rem;
            }
        }
    }

    &.flexList {
        div {
            flex-basis: initial;
        }
    }
}

.heroLeft {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.heroRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}

.heroLeftAlt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.discordMock {
    border-radius: 6px;
    background-color: #36393f;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.08);

    padding: 0.5rem 0;

    .message {
        padding: 0.5rem 1rem;
        display: flex;
        gap: 0.75rem;

        &:hover {
            background-color: #32353b;
        }

        &.groupStart {
            margin-top: 0.5rem;
        }

        .avatar {
            max-height: 2.375rem;
            border-radius: 999px;
        }

        .messageContent {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .username {
                font-size: 0.9rem;
                font-weight: 400;

                &.blue {
                    color: $cta;
                }

                .timestamp {
                    margin-left: 4px;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: #707479;
                }
            }

            .text {
                font-size: 0.875rem;
                color: #ccd6d4;
            }
        }
    }

    .messageBar {
        margin: 1rem 1rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 8px;
        background-color: #3b3f45;
        color: #4b4f55;
        padding: 12px 18px;
    }
}

.modalMock {
    border-radius: 6px;
    background-color: $bg-secondary;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.08);

    header {
        border-bottom: solid 1px $border;
        padding: 1rem;
        font-size: 16px;
        font-weight: 500;
    }

    main {
        padding: 1rem;
    }

    .fakeLabel {
        display: block;

        opacity: 0.84;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    .fakeInput {
        padding: 0.75rem;
        line-height: 1.5em;

        margin-bottom: 1rem;

        border: solid 1px $border;
        border-radius: 6px;

        background-color: $bg-primary;
        transition: 150ms ease-out;

        &:hover {
            background-color: $bg-primary-alt;
        }

        .muted {
            opacity: 0.44;
            font-weight: normal !important;
        }

        code {
            &::before {
                content: "${";
                color: #fff;
                opacity: 0.24;
            }

            &::after {
                content: "}";
                color: #fff;
                opacity: 0.24;
            }
        }
    }
}

.heroSpace {
    margin: 8rem 0;
}

.heroBanner {
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
    height: 650px;
    background-color: $bg-primary-alt;
    transform: skewY(-2.5deg);
    z-index: -1;
}

.heroBorder {
    margin: 5rem 0;
    height: 1px;
    position: relative;

    &::after {
        content: "";

        $offset: -0%;

        position: absolute;
        top: $offset;
        left: 0;
        right: 0;
        bottom: $offset;

        transform: skewY(-2.5deg);

        z-index: -1;

        background-color: $border;
    }
}

.heroArea {
    margin-top: 3rem;
    padding: 10rem 0 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    position: relative;

    overflow: hidden;

    &::after {
        content: "";

        $offset: -0%;

        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        bottom: -50%;

        transform: skewY(2.5deg);

        z-index: -1;

        background-color: $bg-primary-alt;
    }
}

.heroContent {
    position: relative;
    padding-bottom: 6.5rem;

    &::after {
        content: "";

        position: absolute;
        top: -200px;
        left: 50%;
        bottom: 0;

        width: 100vw;

        transform: skewY(2.5deg) translate(-50%, 0);

        z-index: -1;

        background-color: $bg-primary-alt;
    }
}

.placeholder {
    @include placeholder;
}

.meter {
    width: 100%;
    
    &.disabled div {
        opacity: 0.35;
    }
    
    label {
        display: block;
        margin-bottom: 6px;
    }
    
    div {
        height: 12px;
        width: 100%;
        position: relative;
        overflow: hidden;
        
        border-radius: 999px;
        background-color: $bg-primary-alt;
        
        &::after {
            content: "";
            position: absolute;
            
            top: 0;
            left: 0;
            bottom: 0;
            
            height: 100%;
            width: calc(var(--value, 0) * 100%);
            max-width: 100%;
            
            background-color: $cta;
        }
    }
}

.featureList {
    gap: 1rem;
    flex-wrap: wrap;

    div {
        flex-basis: 45%;

        display: flex;
        gap: 0.5rem;
        align-items: center;
        > div {
            $size: 2.25rem;
            max-width: $size;
            max-height: $size;
            min-width: $size;
            min-height: $size;

            border-radius: 6px;
            background-color: $cta;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.25rem;
            }
        }
    }

    &.flexList {
        div {
            flex-basis: initial;
        }
    }
}