.footer {
	background-color: $background-secondary;

	.first {
		height: 64px;

		.content {
			align-items: center;
			height: 100%;
		}
	}

	.second {
		border-top: solid 1px $background-tertiary;
		padding: 3rem 0;

		.heroText {
			margin-bottom: 2rem;
		}

		.displayText {
			margin-bottom: 12px;
		}

		.footerRow {
			gap: 6rem;
		}

		.footerCol {
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				color: col(#ffffff, 0.56);
				margin-bottom: 12px;

				transition: 130ms ease-out;
				transition-property: color;

				&:hover,
				&:focus {
					color: col(#ffffff, 0.84);
				}

				&:active {
					color: col(#ffffff, 0.56);
				}
			}
		}
	}
}