.flexRow {
	display: flex;
	gap: 1rem;

	&.alignCenter {
		align-items: center;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin: 0;
		}
	}
}

.content {
	margin: auto;
	padding: 0 3rem;
	width: 100%;
	max-width: 1280px;

	&.flexed {
		display: flex;
	}

	&.withVertPadding {
		padding: 3rem;
	}
}

.spacer {
	flex: 1 0 auto;
}

.space {
	height: 1rem;
	width: 1rem;
}

.list {
	display: flex !important;
	flex-direction: column;
	gap: 1.5rem;

	.bullet {
		margin-right: 6px;
		opacity: 0.54;
	}

	& > div {
		line-height: 130%;
	}
}

.heroHeader {
	background-color: $background-secondary;
	border-top: solid 1px $background-tertiary;
	padding: 8vh 0;

	&.content {
		padding: 3rem;
		border-top: none;
		background-color: transparent;
	}

	.left {
		flex: 2 0;
	}

	.right {
		flex: 3 0;
	}

	&.content + & {
		padding-top: 0;

		.left,
		.right {
			padding-top: 3rem;
		}

		.left {
			border-top: solid 1px $background-tertiary !important;
		}
	}
}