// Layout
// Contains a few components for layout including flex lists/rows.

.content {
    max-width: calc(1280px + 6rem);
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.subContent {
    width: 100%;
    margin: 0 auto;
}

.flexList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.flexRow {
    display: flex;
    gap: 0.5rem;
}

.spacer {
    flex: 1 0 auto;
}

.flexedCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &.padded {
        padding: 3rem;
    }
}

.row.padded {
    margin: 0;

    > div {
        padding: 2rem;
    }
}

.row.semiPadded {
    margin: -1rem;

    > div {
        padding: 1rem;
    }
}

.row > div {
    margin-top: 1rem;
}