// Typography
// Styles for text

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.875rem;
}

code {
    color: $text-code;
    font-family: "Fira Mono", monospace;
}

ul {
    margin: 0 1rem 0;
    padding: 0;

    li {
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 0.25rem;
        }

        &::marker {
            content: "";
        }

        &::before {
            content: "–";
            display: inline-block;
            margin-right: 1rem;
            margin-left: -15px;
            opacity: 0.64;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.3em;
}

h4, h5, h6 {
    font-weight: 500;
}

.heroText {
    display: block;
    font-size: 1.125rem;
    color: $text-light;
}

.center {
    text-align: center;
}

.displayText {
    font-weight: 700;
}

.muted {
    color: $text-muted;
}