// Imports
@import 'imports';

// Import shared
@import 'shared/vars';
@import 'shared/mixins';

// Import "atoms" (to build the "molecule")
@import 'theme';
@import 'internal/blazor';

// Import components
@import 'components/bars';
@import 'components/button';
@import 'components/dashboard';
@import 'components/display';
@import 'components/form';
@import 'components/layout';
@import 'components/surfaces';
@import 'components/typography';

// Global styles
html,
body {
    font-family: $font-sans;

    width: 100%;
    height: 100%;

    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: inherit;
    position: relative;
}

// Apply theme
body {
    background-color: $bg-primary;
    color: $text-normal;
}