<div class="formPart collapse @(!_isOpen ? "closed" : string.Empty)">
    <div style="display: flex; align-items: center;">
        <button class="outlined iconOnly chevron" @onclick="((e) => { _isOpen = !_isOpen; })">
            <i data-feather="chevron-right"></i>
        </button>

        <h5 style="margin-left: 1rem;">
            @Title
        </h5>

        <div class="spacer"></div>

        <button class="destructive iconOnly" @onclick="OnDelete">
            <i data-feather="trash-2"></i>
        </button>
    </div>

    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    private bool _isOpen = false;
}
