@page "/"

<div class="heroHeader">
	<div class="content flexed">
		<div class="left">
			<h2>
				Your own bot.<br />
				Without the code.
			</h2>
			<p class="heroText">
				RBot is a fully customiseable bot that allows you to create your own high advanced commands.
			</p>
			<div class="flexRow">
				<button class="large cta">Invite</button>
				<button class="large">Features</button>
			</div>
		</div>
		<div class="right"></div>
	</div>
</div>

<div class="content withVertPadding flexed heroHeader">
	<div class="left">
		<h2>
			How it works
		</h2>
		<div class="list heroText">
			<div><span class="bullet">•</span>Make a command with any sort of invocation. Make flexible commands using
				different types of detection.</div>
			<div><span class="bullet">•</span>Give it actions. Send a message, embed, image in the same or different
				channel, give roles, use arguments, and even program your own logic in.</div>
			<div><span class="bullet">•</span>Give it options. Unique cooldowns, required permissions, and even a custom
				permission system.</div>
			<div><span class="bullet">•</span>Save. Anyone will be able to use the command, as long as they follow the
				requirements you've set on it.</div>
		</div>

		<div class="space"></div>

		<button class="cta">Try it out</button>
	</div>
	<div class="right"></div>
</div>

<div class="content withVertPadding flexed heroHeader">
	<div class="left">
		<h2>
			Why RBot?
		</h2>
		<div class="list heroText">
			<div><span class="bullet">•</span>Our goal is to make sure you can use the essential features of RBot
				completely free, while allowing donations to help keep it online.</div>

			<div><span class="bullet">•</span>The interface is designed for maximum user friendliness, so you don't have
				to spend a few hours looking at documentation.</div>
		</div>
	</div>
	<div class="right"></div>
</div>

<div class="footer">
	<div class="first">
		<div class="content flexed">
			<span class="appTitle">RBot</span>

			<div class="spacer"></div>

			<button class="cta">Invite</button>
		</div>
	</div>

	<div class="second">
		<div class="content">
			<p class="heroText">Your own bot. Without the code.</p>
			<div class="flexRow footerRow">
				<div class="footerCol">
					<p class="displayText">Resources</p>
					<a href="#">Documentation</a>
					<a href="#">Support</a>
				</div>

				<div class="footerCol">
					<p class="displayText">Product</p>
					<a href="#">Open Source</a>
					<a href="#">Acknowledgements</a>
				</div>
			</div>
		</div>
	</div>
</div>