<label class="input">
    <span>
        @Label
    </span>

    @if (Limit != -1)
    {
        <input maxlength=@Limit value=@InputValue @oninput="OnChange" placeholder=@Placeholder />

        <p class="lengthIndicator">
            @(InputValue?.Length ?? 0) / @Limit
        </p>
    }
    else
    {
        <input value=@InputValue @oninput="OnChange" placeholder=@Placeholder />   
    }
</label>
@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Placeholder { get; set; } = "";

    [Parameter] public string InputValue { get; set; }
    [Parameter] public EventCallback<string> InputValueChanged { get; set; }

    [Parameter] public int Limit { get; set; } = -1;

    private async Task OnChange(ChangeEventArgs e)
    {
        await InputValueChanged.InvokeAsync(e.Value.ToString());
    }
}
