@inject IJSRuntime JavaScript

@using CustomCommandBot.Shared.Utilities

<label class="input">
    <span>
        @Label
    </span>

    <button class="input" @onclick="() => _open()">
        @if (SelectValue is not null)
        {
            <span>
                @SelectValue
            </span>
        }
        else
        {
            <span class="muted">
                @Placeholder
            </span>
        }

        <div class="spacer"></div>

        <i data-feather="chevron-down"></i>
    </button>

    <div class="dropdown" id=@guid.ToString()>
        @for (int i = 0; i < Options.Count(); i++)
        {
            var local = i;

            <button class=@(i == _selectIndex ? "active" : "") @onclick="() => SelectItem(local)">
                @(Options.ToList()[i])
            </button>
        }
    </div>
</label>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Placeholder { get; set; } = "Select...";

    [Parameter] public string SelectValue { get; set; }
    [Parameter] public EventCallback<string> SelectValueChanged { get; set; }

    
    [Parameter] public EventCallback<string> CustomChanged { get; set; }

    [Parameter] public IEnumerable<string> Options { get; set; }

    private Guid guid = Guid.NewGuid();

    private int _selectIndex = -1;
    private bool _isOpen = false;

    private async Task SelectItem(int index)
    {
        _selectIndex = index;

        await SelectValueChanged.InvokeAsync(Options.ToList()[index]);

        if (CustomChanged.HasDelegate)
            await CustomChanged.InvokeAsync(Options.ToList()[index]);

        await JavaScript.InvokeVoidAsync("removeOpenFromDropdown", guid.ToString());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JavaScript.InvokeVoidAsync("renderIcons");
    }

    private async Task _open() {
        await JavaScript.InvokeVoidAsync("addOpenToDropdown", guid.ToString());
    }
}
