@using CustomCommandBot.Shared.Models.Discord

@inject HttpClient httpClient
@inject NavigationManager navManager
@inject IJSRuntime JavaScript

@inherits LayoutComponentBase

@using Newtonsoft.Json

<div class="dashboard split" style="height: 100vh; overflow-y: auto;">
	<NavMenu User=@user AdditionalClasses="small quiet" />
	<CascadingValue Value=@user Name="CurrentUser">
		@Body
	</CascadingValue>
</div>

@code {
	private User user { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await SetUserAsync();
	}

	private async Task SetUserAsync() {
		HttpRequestMessage req = new(HttpMethod.Get, "/auth/@me");
		var result = await httpClient.SendAsync(req);

		if (result.IsSuccessStatusCode)
		{
			user = JsonConvert.DeserializeObject<User>(await result.Content.ReadAsStringAsync(), new JsonSerializerSettings()
			{
				TypeNameHandling = TypeNameHandling.All
			});
		}
	}

	protected override async Task OnAfterRenderAsync(bool firstRender) {
        await JavaScript.InvokeVoidAsync("renderIcons");
    }
}