<nav class="appbar">
	<span class="appTitle">
		RBot
	</span>

	<div class="spacer"></div>

	<a href="#">Documentation</a>

	<a href="#">Support</a>

	<button class="cta large">
		<span>Invite</span>
	</button>
</nav>