@using CustomCommandBot.Shared.Models.Discord

@inject NavigationManager NavManager
@inject HttpClient httpClient

<nav class=@("appbar " + AdditionalClasses)>
	<div class="content">
		<section>
			<span class="appIcon">
				<img src="https://cdn.realsgii2.dev/primo/branded-small-logo.png" alt="Primo">
				<span>
					Primo
				</span>
			</span>

			<button class="menuButton ghost" data-open-menu>
				<i data-feather="menu"></i>
			</button>
		</section>

		<section class="menuItems">
			<a href="/" class="active">Home</a>

			@* <a href="/pricing">Pricing</a> *@

			@* <a href="/docs">Documentation</a> *@

			<a href="/support">Support</a>

			@if (User is not null)
			{
				<a href="/dashboard">My servers</a>
			}

			<div class="optSpacer"></div>

			@if (User is null)
			{
				<a href="/auth/login" style="padding: 0;">
					<button class="cta">
						<span>Log in</span>
					</button>
				</a>
			}
			else
			{
				<a class="profileLink">
					<img src=@User.AvatarUrl alt=@User.Username>
					@User.Username
				</a>
			}

			<button class="menuButton ghost" data-close-menu>
				<i data-feather="x"></i>
			</button>
		</section>

		<div class="scrim"></div>
	</div>
</nav>

@code {
	private string loginUri = "/auth/login";

	[Parameter]
	public User User { get; set; }

	[Parameter]
	public string AdditionalClasses { get; set; } = "";

	private void LogIn()
	{
		if (User is null)
			NavManager.NavigateTo(loginUri);
	}
}