@using CustomCommandBot.Shared.Models.Discord

@inject NavigationManager NavManager
@inject HttpClient httpClient

<nav class="appbar">
	<div class="content">
		<section>
			<span class="appIcon">CCB</span>

			<button class="menuButton ghost" data-open-menu>
				<i data-feather="menu"></i>
			</button>
		</section>

		<section class="menuItems">
			<a href="/" class="active">Home</a>

			<a href="/pricing.html">Pricing</a>

			<a href="/docs.html">Documentation</a>

			<a href="#">Support</a>

			<div class="optSpacer"></div>

			<button class="cta">
				<span>Log in</span>
			</button>

			<button class="menuButton ghost" data-close-menu>
				<i data-feather="x"></i>
			</button>
		</section>

		<div class="scrim"></div>
	</div>
</nav>

@code {
	private string loginUri = "/auth/login";

	[Parameter]
	public User User { get; set; }

	private void LogIn()
	{
		if (User is null)
			NavManager.NavigateTo(loginUri);
	}
}